html * {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif;
}

button {
  outline: none;
}

.blue {
  color: white !important;
  background-color: #084c61;
}

.gold {
  color: black !important;
  background-color: #f4b027;
}

.grey {
  color: white !important;
  background-color: #777c80;
}

.green {
  color: white !important;
  background-color: #68a21d;
}

.orange {
  color: white !important;
  background-color: #e56000;
}

.white {
  color: black !important;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.red {
  color: white !important;
}
