.CheckinDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 40px - 5rem);
}

.CheckinDetails .detailHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.CheckinDetails .detailHeader button, .CheckinDetails .detailHeader button.backArrow {
  border: none;
  background: none;
  font-size: 1.5rem;
  color: #ccc;
}

.CheckinDetails .checkinDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.CheckinDetails h2 {
  color: #777c80;
  text-align: center;
}

.CheckinDetails img.checkin {
  width: 85px;
  height: 85px;
  object-fit: cover;
}

.CheckinDetails .checkinDetailsContainer svg {
  width: 85px;
  height: 50px;
}

.CheckinDetails .checkinDetailsContainer .details {
  display: block;
  padding: 0 10px;
}

.CheckinDetails .details h4 {
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #252525;
  margin-bottom: 1px;
}

.CheckinDetails .details h5 {
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: #252525;
  margin-top: 8px;
}

.CheckinDetails .details h6 {
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #777c80;
  margin-top: 0px;
  margin-bottom: 2px;
}

.CheckinDetails h4, .CheckinDetails h5, .CheckinDetails h6 {
  margin: 4px;
}

.CheckinDetails .itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 318px;
  margin: 0 auto;
}

.CheckinDetails .footer button {
  width: 50%;
  height: 60px;
  background-color: #ededed;
  color: #777c80;
  border: 1px solid #c9c9c9;
  text-transform: uppercase;
  font-size: 0.7rem;
}
