.Item {
  margin: 0 9px;
  position: relative;
}

.Item .check {
  color: white;
  font-size: 1.25rem;
}

.Item .check svg {
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 5px;
}

.Item img {
  width: 85px;
  border-radius: 2px;
}

.Item .tagNumber {
  border-radius: 2px;
}

.Item .tagNumber h2 {
  font-size: 1.3rem;
  margin: 0;
  padding: 2px;
  letter-spacing: 1px;
}

.Item .tagNumber h2.white {
  border: 0;
  padding: 1px;
}
