.Item {
  padding: 8px;
  position: relative;
}

.Item .check {
  position: absolute;
  top: 0;
  right: 0;
  color: green;
}

.Item img {
  width: 90px;
  height: 100px;
  border-radius: 2px;
}

.Item .tagNumber {
  border-radius: 2px;
}

.Item .tagNumber h2 {
  font-size: 1.3rem;
  margin: 0;
  padding: 2px;
  letter-spacing: 1px;
}

.Item .tagNumber h2.white {
  border: 0;
  padding: 1px;
}
