.PatronDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 40px - 5rem);
}
  
.PatronDetails .detailHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.PatronDetails .detailHeader button, .PatronDetails .detailHeader button.backArrow {
  border: none;
  background: none;
  font-size: 1.5rem;
  color: #ccc;
}

.PatronDetails .patronDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.PatronDetails h2 {
  color: #777c80;
  text-align: center;
}

.PatronDetails img.patron {
  width: 85px;
}

.PatronDetails .patronDetailsContainer .details {
  display: block;
  padding: 0 10px;
}

.PatronDetails .details h4 {
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #252525;
  margin-bottom: 1px;
}

.PatronDetails .details h5 {
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: #252525;
  margin-top: 8px;
}

.PatronDetails .details h6 {
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #777c80;
  margin-top: 0px;
  margin-bottom: 2px;
}

.PatronDetails h4, .PatronDetails h5, .PatronDetails h6 {
  margin: 4px;
}

.PatronDetails .itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.PatronDetails .footer button {
  width: 50%;
  height: 60px;
  background-color: #ededed;
  color: #777c80;
  border: 1px solid #c9c9c9;
  text-transform: uppercase;
  font-size: 0.7rem;
}
