.Queue h2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 1rem;
  margin: 0;
  color: #666;
  background-color: #f3f3f3;
}

.blankSlate {
  width: 100%;
  height: calc(80vh - 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
