.QueueItem {
  background-color: white;
  border-bottom: 1px solid #c9c9c9;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 16px;
  transition: .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transform: rotateX(0deg);
}

.QueueItem.queued {
  transform: rotateX(-90deg);
}

.hidden {
  display: none;
}

.QueueItem .imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.QueueItem img.patron,
img.tag {
  width: 80px;
  border-radius: 50%;
}

.QueueItem img.patron.small {
  width: 50px;
}

.QueueItem img.tag.small {
  width: 42px;
  margin: 0;
  padding: 0;
}

.QueueItem .phone {
  font-size: 0.8rem;
  color: #777c80;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 0.5rem;
}

.QueueItem small {
  font-size: 10px;
}

.QueueItem p {
  font-size: 10px;
  font-weight: 700;
  margin-top: 0;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.QueueItem button {
  color: white;
  background-color: #777c80;
  border: 0;
  border-radius: 8px;
  width: 4rem;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding: 0 0.25rem;
}

.QueueItem button[disabled] {
  background-color: #ccc;
}

.QueueItem div p {
  font-size: 0.8rem;
  color: #777c80;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  margin-left: 0;
  margin-top: 10px;
  padding: 0;
}

.QueueItem .return {
  font-size: 26px;
}

.QueueItem .circle {
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 6px;
}

.QueueItem .details {
  flex: 1;
  padding: 0 0.5rem;
}

.QueueItem .tags {
  display: flex;
  justify-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.QueueItem .tag {
  color: white;
  padding: 0.25rem;
  margin-left: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 6px;
}

.QueueItem .tag .number {
  margin-top: 0.25rem;
  font-weight: bold;
  font-size: 16px;
}
