.Queue .filterBar {
  width: 100vw;
  color: #777c80;
  background-color: #ededed;
  padding: 4px;
  border-left: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.Queue .filterBar .criterion,
.Queue .filterBar button {
  background-color: #ddd;
  border: 0;
  border-radius: 8px;
  padding: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #999;
  box-shadow: none;
  text-shadow: none;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
}

.Queue .filterBar .criterion:first-child {
  margin-left: 0;
}

.Queue .filterBar .criterion {
  height: 1.75rem;
  margin-left: 0.5rem;
  padding: 0 0.5rem;
}

.Queue .filterBar .criterion button {
  padding: 0 0 0 0.5rem;
}

.Queue .filterBar .criterion button path {
  fill: #999;
}

.Queue .filterBar .icon-button {
  border: 0.5px solid #ccc;
  background: white;
  padding: 6px 15px;
}

.Queue .filterBar button path {
  color: #ccc;
  font-size: 14px;
}

.Queue h2 {
  font-size: 16px;
  color: #777c80;
  font-weight: 600;
  padding: 0.4rem;
  padding-left: 0.7rem;
  margin: 0;
  background-color: #f6f6f6;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}

.Queue p {
  font-size: 0.9rem;
  color: #ccc;
  font-weight: 600;
  padding: 6px;
  padding-left: 0.7rem;
}

.blankSlate {
  margin-top: 1rem;
  background-color: white;
  width: 100%;
  height: calc(100vh - 48px - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Queue .listContainer {
  overflow-y: scroll;
  height: calc(100vh - 48px - 4rem);
  -webkit-overflow-scrolling: touch;
}
