.QueueItemList {
  background-color: #f3f3f3;
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 48px - 4rem);
  -webkit-overflow-scrolling: touch;
}

.QueueItemList > p {
  margin: 0 1rem;
  padding-bottom: 1rem;
  color: #666;
}
