.SearchResult {
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 16px;
  transition: .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.hidden {
  display: none;
}

img.patron {
  width: 80px;
  border-radius: 50%;
}

img.clone {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

img.clone.animated {
  margin-top: -15px !important;
  margin-left: 90px !important;
  transform: scale(0.4);
}

.SearchResult .phone {
  font-weight: bold;
  font-size: 14px;
}

.SearchResult small {
  font-size: 10px;
}

.SearchResult p {
  font-size: 10px;
  font-weight: 700;
}

.SearchResult button {
  position: relative;
  background-color: transparent;
  border: 0;
  width: 3rem;
}

.SearchResult .menu {
  font-size: 26px;
}

.SearchResult .circle {
  color: #e56000;
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 6px;
}
