.SearchResult {
  border-top: 1px solid #c9c9c9;
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 16px;
  transition: .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.SearchResult .hidden {
  display: none;
}

img.patron {
  width: 60px;
  border-radius: 50%;
}

img.clone {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

img.clone.animated {
  margin-top: -5px !important;
  margin-left: 110px !important;
  transform: scale(0.4);
}

.SearchResult .phone {
  color: #777c80;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 4px 0px;
}

.SearchResult small {
  font-size: 10px;
}

.SearchResult p {
  color: #777c80;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0px;
  padding: 4px 0px;
}

.SearchResult button {
  position: relative;
  color: white;
  background-color: #777c80;
  border: 0;
  border-radius: 8px;
  width: 5rem;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.SearchResult button[disabled] {
  background-color: #ccc;
}

.SearchResult .menu {
  font-size: 26px;
}

.SearchResult .circle {
  color: #e56000;
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 6px;
}
