.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 0;
  background: #ededed;
}

.Search form {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Search .inputContainer {
  flex: 1;
  position: relative;
  padding-right: 1rem;
}

.Search .search-icon {
  position: absolute;
  top: 0.6rem;
  left: 1.5rem;
  color: #aaa;
  font-size: 14px;
}

.Search input {
  -webkit-appearance: none;
  background-color: #ddd;
  border: 0;
  border-radius: 6px;
  font-size: 16px;
  color: #777c80;
  padding: 0.25rem 0.5rem 0.25rem 2rem;
  outline: none;
  width: 100%;
  margin-left: 1rem;
  box-shadow: none;
  text-shadow: none;
}
