.SearchResult {
  border-top: 1px solid #c9c9c9;
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 16px;
  transition: .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.highlight {
  color: black;
  background-color: #ffff00cc;
  box-shadow: 0 0 8px 0 #ff0;
}

.SearchResult .hidden {
  display: none;
}

.SearchResult .imgContainer {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchResult .imgContainer.iconShowing {
  border: 1px solid black;
  border-radius: 50%;
}

.SearchResult svg {
  height: 60px;
}

img.checkin {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

img.clone {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

img.clone.animated {
  margin-top: -5px !important;
  margin-left: 110px !important;
  transform: scale(0.4);
}

.SearchResult .details {
  flex: 1;
  margin: 0 1rem;
}

.SearchResult .phone {
  color: #777c80;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  padding: 4px 0px 3px;
}

.SearchResult .tags {
  color: #777c80;
  font-size: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.SearchResult .tag {
  padding: 1px;
  width: 2.5rem;
  text-align: center;
  font-weight: 600;
  line-height: 0.7rem;
  margin-right: 3px;
  margin-bottom: 2px;
}

.SearchResult .tag.white {
  padding: 0;
}

.SearchResult p {
  color: #777c80;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin: 0;
  padding: 0 0 4px 0px;
}

.SearchResult .check {
  width: 5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #68a21d;
}

.SearchResult button {
  position: relative;
  color: white;
  background-color: #777c80;
  border: 0;
  border-radius: 8px;
  width: 5rem;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.SearchResult button[disabled] {
  background-color: #ccc;
}

.SearchResult .menu {
  font-size: 26px;
}

.SearchResult .circle {
  color: #e56000;
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 6px;
}
