.Segment {
  border: 1px solid #777c80;
  color: #777c80;
  background-color: transparent;
  padding: 4px;
  width: 2.5rem;
  height: 1.75rem;
  outline: none;
  border-left: none;
  font-size: 14px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.Segment.active {
  background-color: #777c80;
  color: white;
}

.Segment.first {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-left: 1px solid #777c80;
}
.Segment.last {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
