.Segment {
  color: #e56000;
  border-color: #e56000;
  background-color: transparent;
  padding: 0.25rem;
  width: 2.5rem;
  height: 1.75rem;
  outline: none;
  border-left: none;
  font-family: 'helvetica';
  font-size: 14px;
}

.Segment .svg-inline--fa path {
  fill: #e56000;
}

.Segment.active .svg-inline--fa path {
  fill: white;
}

.Segment.active {
  background-color: #e56000;
  color: white;
}

.Segment.first {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-left: 1px solid #e56000;
}
.Segment.last {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
